# For Asgardeo
baseUrl=https://api.asgardeo.io/t/<YOUR_ORG_NAME>

# For WSO2 Identity Server
baseUrl=https://localhost:9443

# Agent OAuth App credentials
CLIENT_ID=

# Agent identity credentials
AGENT_ID=
AGENT_SECRET=

# OAuth settings
REDIRECT_URI=
SCOPE=

# Server
PORT=3009
